<div>
    <section>
        <img src="images/logo_small.png" alt="FLIX Db Logo" id="logo" />
    </section>
    <section>
    <h1>FLIXdb</h1>
        <p>The ULTIMATE Internet Movie Database</p>
    </section>
    <section id="searchBar">
        <input type="text" id="search" placeholder="Search movies..." onkeyup="searchMovies()" />
    </section>
    

</div>


<select id="mobile-nav" onchange="navigateToPage()">
    <option value="">Select a page</option>
    <option value="index.html">Home</option>
    <option value="movies.html">Movies</option>
    <option value="add_movie.html">Add Movie</option>
    <option value="edit_movie.html">Edit Movie</option>
    <option value="movie_details.html">Movie Details</option>
</select>



    
